[project]
name = "broker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.128.0",
    "faststream[rabbit]>=0.6.5",
    "uvicorn>=0.40.0",
]
